<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.widget"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".xmltag.IncludeLayoutParamsActivity"></activity>
    <activity android:name=".recyclerview.ListEmptyBackgroundNotDrawActivity" />
    <activity android:name=".edittext.RequestFocusInScrollLayoutActivity" />
    <activity android:name=".textview.inputfilter.InputFilterSetActivity" />
    <activity android:name=".textview.TextViewActivity" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".textview.inputfilter.InputFilterActivity" />
    <activity android:name=".edittext.EditTextActivity" />
    <activity android:name=".recyclerview.RecyclerViewDemoListActivity" />
    <activity android:name=".xmltag.XmlTagDemoListActivity" />
  </application>

</manifest>